@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    text-align: justify;
    color: rgb(18, 18, 19);
    /*background-color: rgb(255, 205, 234);*/
}

.pagina {
  /*background-image: url('../img/CODI.jpg');*/
  background-size: cover;
  color: black;
  background-attachment: fixed;
 
}
.navbar-custom {
  background-color: #c9b9c5; /* Cambia color del fondo del menu */
}

body {
  font-family: 'Roboto', sans-serif;
 /* font: oblique bold 120% cursive;
  font-size: 30px;*/
  margin: 0;
  padding: 0;
  background-color: #232222;
  
}


.hero {
  background: url('../img/programming-background-collage.jpg') no-repeat center center/cover;
  height: 80vh;
  font: oblique bold 120% cursive;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dcedba;
  padding: 0 2rem;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-in-out;
  
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: slideInFromLeft 1s ease-out;
  
}

.hero button {
  background: #ff5722;
  border:black;
  padding: 1rem 2rem;
  font: oblique bold;
  color: #d3e5e7;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 1rem;
  animation: slideInFromRight 1s ease-out;
  border-radius: 15px; /*redondea puntas*/
}

.hero button:hover {
  background: #d003a0;
}

@keyframes slideInFromLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes slideInFromRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}



body.nosotros {
  background-image: url('../img/Hexagon-background.jpg'); 
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-attachment: fixed; /* Fija la imagen de fondo */
  
}
body.paginaCursos {
  background-image: url('../img/Hexagon-background.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 
  
}
body.paginaRegistro {
  background-image: url('../img/17973908.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: black;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(51, 5, 100);
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

#nombretitulo {
  color: rgb(145, 16, 134);
  font-size: 60px;
  font-family: fantasy;
  /*background-color: #5c6bc0;*/
  /*background-color: rgb(red, green, blue);*/
  background-color: rgba(0, 0, 0, 0.3);
}
#subtitulo {
  color: rgb(248, 208, 130);
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 400px;
  /*margin-left: 100px;*/
  
}

#correo {
  color: rgb(234, 236, 89);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: rgb(255, 196, 112);
  /*display: block;*/
}

/* contacto */
.titulo {
  color:rgb(181, 27, 117);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35 px;
  /*text-align: center;*/
}

label {
  color:rgb(67, 104, 80);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: rgb(3, 174, 210);
  font-size: 20 px;
  font-family: Arial, Helvetica, sans-serif;
}

/*.container2 {
  text-align: center;
  margin-top: 50px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  /*background-color:rgb(255, 205, 234);
  color: rgb(61, 12, 114);
}

p.promocion {
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  font: oblique bold 120% cursive;
  font-size: 25px;
  color:rgb(195, 255, 147);
}

p.promocion2 {
  animation-duration: 08s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  font: oblique bold 120% cursive;
  color: rgb(243, 202, 82);
  font-size: 24px; /* Tamaño del icono 
  margin-right: 10px; /* Espacio entre el icono y el texto 
}
p.promocion3 {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font: oblique bold 120% cursive;
  font-size: 30px;
  margin-left: 80%;
  color: rgb(255, 0, 0);
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/

/* Pagina Nosotros */
.section-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin: 20px;
  
}

.section-text {
  font-size: 1.2rem;
  color: #393b3b;
  line-height: 1.6;
  margin-bottom: 2rem;
  margin: 20px;
}

.developers-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.developers-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 2rem;
  
}

.developer-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.developer-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.values-list, .trust-list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.values-list li, .trust-list li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #313333;
}

.values-list li strong, .trust-list li strong {
  color: #333;
}



/* Cursos-Estructura grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px;
}

.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.course-card img {
  width: 100%;
  height: 150; 
  object-fit: cover;
}

.course-info {
  padding: 20px;
  text-align: center;
 
}

.course-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.course-info p {
  margin: 0.5rem 0;
}

.detail-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detail-btn:hover {
  background-color: #0056b3;
}

.detail-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}

.detail-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  
}
.btn-course {
  background-color: #28a745; /*agregado*/
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
/*Formulario de registro*/
form {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  padding: 20px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  border: 2px solid rgb(104, 5, 79); /* Borde de color */
  width: 500px; /* Ancho en píxeles */
  max-width: 1000px; /* Máximo del formulario */
  margin: 0 auto; /* Centra el formulario  */  
}
input[title]:hover::after,
select[title]:hover::after {
    content: attr(title);
    position: absolute;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}
/* Botón de enviar al pasar el mouse */
form button[type="submit"]:hover {
  background-color: #555;
}


.gif-container {
  width: 50px; /* Ajusta el tamaño del GIF */
  vertical-align: middle; /* Alinea verticalmente el GIF con el texto */
  margin-right: 10px; /* Ajusta el espacio entre el GIF y el texto */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
 
}
.button {
  border-radius: 4px;
  background-color: #7c7775;
  border: none;
  color: #141313;
  text-align: center;
  font-size: 28px;
  padding: 3px 8px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.fadeIn {
    animation: fadeIn 1s ease;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.footer-distributed{
  background: #c9b9c5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif 14px;
  padding: 10px 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
  width: 60%;
}

/* company logo */
.footer-distributed h3{
  color:  #e2dede;
  font: oblique bold cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  rgb(67, 2, 80);
  font: oblique bold 120% cursive;
}

/* Footer links */
.footer-distributed .footer-links{
  color:  #191919;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 3;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
  width: 25%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #edeaea;
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin: 5px 10px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 14px;
  line-height: 30px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #191919;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:12px;
  line-height:1.6;
}

.footer-distributed .footer-center p a{
  color:  rgb(10, 165, 157);
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right{
  width: 10%;
}

.footer-distributed .footer-icons{
  margin-top: 30px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {

  .footer-distributed{
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
/*Idioma Ingles*/
.footer-right .form-group {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  
}

.footer-right .form-label {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  
}

.footer-right select {
  font-family: Arial, Helvetica, sans-serif 14px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background-color: #33383b;
  color: #ffffff;
  font-size: 16px;
  width: 200px;
  height: 40px;
}

.footer-right select:focus {
  outline: none;
  background-color: #444a4d;
}

.footer-right select option {
  background-color: #33383b;
  color: #ffffff;
  
}

/* Smooth transition for language selector */
.footer-right select {
  transition: background-color 0.3s ease, color 0.3s ease;
 
}



@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

